<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <title>Change Password</title>
</head>
<body>
    <div class="container">
        <h2>Change Password</h2>
        {% include 'template_message.html' %} <!-- message display -->

        <!-- Password changing form -->
        <form method='post'>
            {% csrf_token %} <!-- prevent a CSRF Attack -->
            {{form.as_p}}
            <div class="submit-button"><input type="submit" value="Submit" id="submit"></div>
        </form>
        <p>Go back to <a href="{% url 'homepage' %}">Homepage</a></p>
    </div>
</body>
</html>