<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
        <div class="container-fluid m-0">
            <div class="row">
                <div class="col-12 ">
                    <div class="header-container">
                        <h1>Calorie Logger</h1>
                    </div>
                </div>
            </div>
        {% include 'template_message.html' %} <!-- message display -->
        {% block content %}
        <div class="row">
            <div class="col-12 justify-text-center mt-4">






        <!-- if user has logged in -->
        {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">Logout</a></p>
        <p><a href="{% url 'change_pass' %}">Change Password</a></p>

        <!-- if user has not logged in -->
        {% else %}

        <h3>Welcome!</h3>
        <p class="mt-4"><a href="{% url 'login' %}">Log In</a> Or <a href="{% url 'register' %}">Register</a></p>
        {% endif %}
            </div>
        </div>

        {% endblock %}
    </div>
</body>
</html>