<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <title>User Registration</title>
</head>
<body>
<div class="container-fluid m-0">
    <div class="row">
        <div class="col-12 ">
            <div class="header-container">
                <h1>User Registration</h1>
            </div>
        </div>
    </div>
    <div>
        {% include 'template_message.html' %} <!-- message display -->
    </div>

        {% block content %}
    <div class="row justify-content-center">
        <div class="col-6 form-container">
        <!-- registration form -->
        <form method="post" class="register"> <!-- Django form requires to use a POST methods -->
            {% csrf_token %} <!-- prevent a CSRF Attack -->
	        {% for field in form %}
	        <p>
            {% if field.errors %} <!-- when error occurs, display the error message -->
		        <ul class="errorlist">
			        {% for error in field.errors %}
			        {{ error }}
			        {% endfor %}
		        </ul>
            {% endif %}

	 	    {{ field.label_tag }} {{ field }}
	        </p>
	        {% endfor %}
            <div class="submit-button"><input type="submit" value="Login" id="submit"></div>
        </form>
            <p> Account Created?  <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
        {% endblock content%}


    </div>
</body>
</html>

